*,
*::before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #252632;
}

.main-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*height: 100vh;*/
	width: 100vw;
	/*border: 1px solid white;*/
	
	.App {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 85vh;
		width: 85vw;
		margin-top: 5vh;		
		/*border: white solid 1px;*/

			.title-line {
				display: flex;
				justify-content: space-between;
				width: 65vw;
				/*border: white solid 1px;*/

				.mode-button {
					width: 100px;
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		
			
			h3, h4 {
				color: #FEFEFE;
				/*border: white solid 1px;*/
			}

			@media screen and (max-width: 1024px) {

				.App {
					height: none;
				}

				h3 {
					font-size: 15px;
				}
			}
					
			h6 {
				color: #8F93B0;
			}

			.total-follow {
				margin-top: 5px;
			}

			.header2 {
				/*border: white solid 1px;*/
				width: 65vw;
			}
	}	
}
