*,
*::before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.dashboard-wrapper {
	/*border: 1px solid white;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 130px;

	.status-bar {
		width: 15vw;
		height: 1vh;
		border-radius: 5px 5px 0 0;
	}

	.table {
		background-color: #2A2D43;
		border: 1px solid #2A2D43;
		border-radius: 0 0 5px 5px;
		width: 15vw;
		height: 20vh;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		.dashboard-data {
			color: #FEFEFE;
			font-size: 40px;
			margin: 0 8px 0 8px;	
		}
		@media screen and (max-width: 1024px) {
			.dashboard-data {
				font-size: 20px;
			}
		}

	}
}





